// 可在此处定义主题色
:root {
  // --el-color-primary: #25c168;
  --el-text-color-primary: #222222;
  --root-header-info-bar-height: 68px;
  --root-footer-height: 20px;
  --root-sidebar-width: 260px;
  --el-menu-level-padding: 30px;

  --bg-Occupied: #D0D5DD;
  --bg-Occupied-hover: #98A2B3;

  --bg-Available: #BBF3D3;
  --bg-Available-hover: #25C269;

  --bg-Discharging: #D9D6FE;
  --bg-Discharging-hover: #9B8AFB;

  --bg-Housekeeping: #FEE28A;
  --bg-Housekeeping-hover: #EAB308;

  --bg-Blocked: #FECACA;
  --bg-Blocked-hover: #EF4444;
}

.el-header {
  --el-header-height: 68px;
  --el-header-padding: none;
  box-shadow: 0px 0px 6px 0px #0000001F;
}

.el-aside {
  width: 65px;
  @media screen and (max-width:767px){
    width: 0;
  }
}

.el-main {
  --el-main-padding: none;
}

.el-footer {
  --el-footer-height: 20px;
  --el-header-padding: none;
}

.el-menu {
  border-right: none;
}

.el-menu--collapse {
  width: 64px;
}

.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
  background-color: #D9ECFF;
  color: #409EFF;
}

.el-sub-menu .el-sub-menu__icon-arrow {
  font-size: 16px;
}

.el-sub-menu .el-menu-item.is-active,
.el-menu--popup-container .el-menu-item.is-active {
  font-weight: 600;
  background-color: #D9ECFF;
  color: #409EFF;
}

.el-menu--collapse .el-sub-menu.is-active.is-opened .el-sub-menu__title {
  background-color: #D9ECFF;
}

.el-menu-item.is-active {
  background-color: #D9ECFF;
  color: #409EFF;
  padding-left: 20px;
}

.el-menu-item {
  padding-left: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #606266;
}

.el-sub-menu .el-menu-item {
  margin: 0px 16px 0px 32px;
}

.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-sub-menu .el-menu-item {
  padding-left: 20px;
  border-radius: 3px;
}

.el-menu--collapse .el-menu-item,
.el-menu--popup-container .el-menu-item {
  padding-left: 20px;
}

.el-sub-menu__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #606266;
}

.el-sub-menu .el-menu-item,
.el-menu--popup-container .el-menu-item {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #909399;
}

.el-breadcrumb__inner {
  color: #909399;
}

.el-breadcrumb__separator {
  color: #909399;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #303133;
}

.el-table {
  --el-table-row-hover-bg-color: transparent;

  &th.el-table__cell,
  td.el-table__cell {
    position: static;
  }
}

.el-radio-group {
  gap: 16px;
}

.el-radio-button:first-child .el-radio-button__inner,
.el-radio-button__inner,
.el-radio-button:last-child .el-radio-button__inner {
  border: var(--el-border);
  border-radius: var(--el-border-radius-base);
  box-shadow: none !important;
}

.el-popup-parent--hidden {
  overflow: hidden !important;
  padding-right: 0px !important;
}

.el-drawer__header {
  margin-bottom: 0px;
  padding: 8px;
}

.el-drawer__body {
  padding: 0px;
}

.el-table th.el-table__cell {
  background-color: #F0F2F5;
  color: #606266;
}

.el-tabs {
  --el-tabs-header-height: 32px;
}

// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// sidebar
$menuActiveText: #ffd04b;
$menuBg: #545c64;
$menuText: #fff;
$subMenuHover: #ECF5FF;
$subMenuBg: #1f2d3d;

$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$menuHover: #ECF5FF;
$sideBarWidth: 260px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
// :export {
//   menuActiveText: $menuActiveText;
//   menuBg: $menuBg;
//   menuText: $menuText;
//   subMenuHover: $subMenuHover;
//   subMenuBg: $subMenuBg;

//   subMenuActiveText: $subMenuActiveText;
//   menuHover: $menuHover;
//   sideBarWidth: $sideBarWidth;
// }